# Descarga del Cuadro 1 desde SPensiones

En esta clase vamos a replicar, de forma simplificada, la l√≥gica utilizada en el proyecto **FondosdePensiones** para descargar informaci√≥n desde la Superintendencia de Pensiones.

El objetivo ser√°:

1. Acceder al √≠ndice mensual de carteras agregadas.
2. Obtener el primer cuadro disponible en formato HTML.
3. Descargar el contenido del cuadro.
4. Decodificar correctamente el HTML.
5. Transformar los n√∫meros desde formato chileno a formato est√°ndar.
6. Convertir la tabla en un DataFrame utilizando pandas.

Este ser√° el insumo para construir posteriormente un panel de datos mensual.

In [1]:
#LIBRER√çAS
import requests
import pandas as pd
import re
from bs4 import BeautifulSoup
from urllib.parse import urljoin
from io import StringIO

## Problemas comunes con datos de SPensiones

Al descargar tablas desde SPensiones nos enfrentamos a:

### üî§ Problemas de codificaci√≥n

Ejemplo:

INVERSI√ìN ‚Üí INVERSI√É¬ìN  
Esto ocurre porque el HTML no viene en UTF-8.

---

### üî¢ Formato num√©rico europeo

Las tablas contienen n√∫meros como:

| Original | Significado |
|----------|-------------|
| 4.471,70 | 4471.70 |
| 12.345 | 12345 |
| 123,4 | 123.4 |

Este formato no es reconocido por pandas, por lo que debemos transformarlo previamente.

In [2]:
#DECODIFICACI√ìN (DEL PROYECTO)
def decode_html(resp):

    raw = resp.content

    try:
        return raw.decode("utf-8")
    except UnicodeDecodeError:
        pass

    enc = (resp.apparent_encoding or "").lower().strip()
    if enc:
        try:
            return raw.decode(enc, errors="replace")
        except Exception:
            pass

    return raw.decode("latin1", errors="replace")

## Transformaci√≥n del formato num√©rico

Antes de leer la tabla con pandas debemos transformar:

1.234,56 ‚Üí 1234.56  
12.345 ‚Üí 12345  
123,4 ‚Üí 123.4  

‚ö†Ô∏è IMPORTANTE:

Debemos modificar SOLO los n√∫meros dentro del HTML,
sin alterar texto, encabezados ni atributos.

In [3]:
#TRANSFORMACI√ìN NUM√âRICA (DEL PROYECTO)
_RE_CH_NUM = re.compile(
    r"\b\d{1,3}(?:\.\d{3})*(?:,\d+)?\b|\b\d+(?:,\d+)\b|\b\d+\b"
)

def _to_float_token(token):
    return token.replace(".", "").replace(",", ".")

def _transformar_solo_numeros_en_texto(text):

    def _repl(m):
        return _to_float_token(m.group(0))

    return _RE_CH_NUM.sub(_repl, text)

def _html_transformar_solo_numeros(html):

    soup = BeautifulSoup(html, "html.parser")

    for node in soup.find_all(string=True):

        if node.parent.name in ("script", "style"):
            continue

        original = str(node)

        if not original.strip():
            continue

        nuevo = _transformar_solo_numeros_en_texto(original)

        if nuevo != original:
            node.replace_with(nuevo)

    return str(soup)

## Descarga del Cuadro 1

SPensiones publica m√∫ltiples cuadros mensuales.

Para simplificar:

Tomaremos el **primer link disponible en formato HTML**
correspondiente al Cuadro 1.

## 1. Creaci√≥n de la sesi√≥n HTTP

Para acceder a SPensiones debemos simular un navegador web.

Esto se realiza mediante el objeto `Session()` de la librer√≠a `requests`.

Esto permite:

- Mantener conexi√≥n persistente (Keep-Alive)
- Reducir latencia
- Enviar encabezados HTTP personalizados

En particular debemos indicar:

- `User-Agent`: identifica el cliente como navegador
- `Referer`: p√°gina de origen requerida por SPensiones

In [4]:
s = requests.Session()

s.headers.update({
    "User-Agent": "Mozilla/5.0",
    "Referer": "https://www.spensiones.cl/apps/centroEstadisticas/paginaCuadrosCCEE.php"
})

## 2. Acceso al √≠ndice mensual

SPensiones organiza los cuadros mensuales mediante
una p√°gina intermedia que act√∫a como √≠ndice.

La URL contiene el par√°metro:

- `periodo`: formato YYYYMM

In [5]:
BASE = "https://www.spensiones.cl"
periodo = "202001"

url = f"{BASE}/apps/loadCarteras/loadCarAgr.php?menu=sci&menuN1=estfinfp&menuN2=NOID&orden=20&periodo={periodo}&ext=.php"

r = s.get(url)

## 3. Extracci√≥n del link del Cuadro

La p√°gina anterior no contiene directamente la tabla.

Contiene enlaces que apuntan a los cuadros en HTML.

Utilizamos BeautifulSoup para:

- Parsear el HTML
- Identificar los enlaces disponibles
- Tomar el primer link correspondiente al Cuadro 1

In [6]:
soup = BeautifulSoup(r.text, "html.parser")

a = soup.find("a", title="Html")

if a is None:
    print("No hay cuadro disponible")

real_link = urljoin(BASE, a["href"])
print(real_link)

https://www.spensiones.cl/apps/carteras/genera_xsl_v2.0.php?param=L09hMXNCSkZ6Qk5yQ0hKK1phTmdjZjVGSklOOS9tcWJxVUFyelc4MjhwMCtrWWU0dlk3MVRnPT0=

## 4. Descarga del HTML del Cuadro

Ahora descargamos el contenido real de la tabla.

‚ö†Ô∏è IMPORTANTE:

No utilizamos `.text`
ya que puede generar problemas de codificaci√≥n.

In [7]:
r2 = s.get(real_link)
html = decode_html(r2)

## 5. Conversi√≥n del formato num√©rico

Los datos se encuentran en formato europeo:

1.234,56 ‚Üí 1234.56

Debemos transformar √∫nicamente los n√∫meros
sin modificar texto o encabezados.

In [8]:
html_transformado = _html_transformar_solo_numeros(html)

In [9]:
print(html_transformado)

<html>
<head>
<title>Superintendencia de Pensiones - SP</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<link href="https://www.spensiones.cl/css/appscreen.css" rel="stylesheet" type="text/css"/>
<script src="/javascript/functions.js" type="text/javascript"></script>
</head>
<body><div class="col-sm-10 col-sm-offset-1">
<h3>CUADRO N¬∫ 1: CARTERA AGREGADA DE LOS FONDOS DE PENSIONES POR TIPO DE FONDO</h3>
<h3>Al 31-01-2020 - En millones de d√≥lares y porcentaje</h3>
<table class="table">
<tr>
<th align="center" rowspan="2"> </th>
<th align="center" colspan="2">A</th>
<th align="center" colspan="2">B</th>
<th align="center" colspan="2">C</th>
<th align="center" colspan="2">D</th>
<th align="center" colspan="2">E</th>
<th align="center" colspan="2">TOTAL</th>
</tr>
<tr>
<th>MMUS$</th>
<th>%Fondo</th>
<th>MMUS$</th>
<th>%Fondo</th>
<th>MMUS$</th>
<th>%Fondo</th>
<th>MMUS$</th>
<th>%Fondo</th>
<th>MMUS$</th>
<th>%Fondo</th>
<th>MMUS$</th>
<th>%Fondo</th>
</tr>
<tr>
<td align="left"><b>INVERSI√ìN NACIONAL TOTAL</b></td>
<td align="right">4471.70</td>
<td align="right">16.09</td>
<td align="right">10903.82</td>
<td align="right">33.05</td>
<td align="right">37625.73</td>
<td align="right">50.99</td>
<td align="right">25176.07</td>
<td align="right">70.19</td>
<td align="right">32144.42</td>
<td align="right">90.90</td>
<td align="right">110321.73</td>
<td align="right">53.60</td>
</tr>
<tr>
<td align="left">¬†¬†¬†¬†¬†RENTA VARIABLE</td>
<td align="right">3802.30</td>
<td align="right">13.68</td>
<td align="right">3821.15</td>
<td align="right">11.58</td>
<td align="right">6239.95</td>
<td align="right">8.46</td>
<td align="right">1359.31</td>
<td align="right">3.79</td>
<td align="right">728.47</td>
<td align="right">2.06</td>
<td align="right">15951.18</td>
<td align="right">7.75</td>
</tr>
<tr>
<td align="left">¬†¬†¬†¬†¬†¬†¬†Acciones</td>
<td align="right">3123.52</td>
<td align="right">11.24</td>
<td align="right">3281.80</td>
<td align="right">9.95</td>
<td align="right">5206.25</td>
<td align="right">7.06</td>
<td align="right">1104.92</td>
<td align="right">3.08</td>
<td align="right">722.18</td>
<td align="right">2.04</td>
<td align="right">13438.68</td>
<td align="right">6.53</td>
</tr>
<tr>
<td align="left">¬†¬†¬†¬†¬†¬†¬†Fondos de Inversi√≥n y Otros (4)</td>
<td align="right">621.12</td>
<td align="right">2.23</td>
<td align="right">470.21</td>
<td align="right">1.43</td>
<td align="right">871.06</td>
<td align="right">1.18</td>
<td align="right">213.46</td>
<td align="right">0.60</td>
<td align="right">4.05</td>
<td align="right">0.01</td>
<td align="right">2179.89</td>
<td align="right">1.06</td>
</tr>
<tr>
<td align="left">¬†¬†¬†¬†¬†¬†¬†Activos Alternativos (5)</td>
<td align="right">57.67</td>
<td align="right">0.21</td>
<td align="right">69.15</td>
<td align="right">0.21</td>
<td align="right">162.64</td>
<td align="right">0.22</td>
<td align="right">40.93</td>
<td align="right">0.11</td>
<td align="right">2.23</td>
<td align="right">0.01</td>
<td align="right">332.61</td>
<td align="right">0.16</td>
</tr>
<tr>
<td align="left">¬†¬†¬†¬†¬†RENTA FIJA</td>
<td align="right">848.09</td>
<td align="right">3.05</td>
<td align="right">7343.59</td>
<td align="right">22.26</td>
<td align="right">31898.33</td>
<td align="right">43.23</td>
<td align="right">24129.34</td>
<td align="right">67.27</td>
<td align="right">31503.40</td>
<td align="right">89.09</td>
<td align="right">95722.75</td>
<td align="right">46.51</td>
</tr>
<tr>
<td align="left">¬†¬†¬†¬†¬†¬†¬†Instrumentos Banco Central</td>
<td align="right">47.14</td>
<td align="right">0.17</td>
<td align="right">175.89</td>
<td align="right">0.53</td>
<td align="right">253.86</td>
<td align="right">0.34</td>
<td align="right">114.52</td>
<td align="right">0.32</td>
<td align="right">656.09</td>
<td align="right">1.86</td>
<td align="right">1247.49</td>
<td align="right">0.61</td>
</tr>
<tr>
<td align="left">¬†¬†¬†¬†¬†¬†¬†Instrumentos Tesorer√≠a</td>
<td align="right">91.10</td>
<td align="right">0.33</td>
<td align="right">1566.36</td>
<td align="right">4.75</td>
<td align="right">13985.96</td>
<td align="right">18.95</td>
<td align="right">10119.81</td>
<td align="right">28.21</td>
<td align="right">11284.39</td>
<td align="right">31.91</td>
<td align="right">37047.61</td>
<td align="right">18.00</td>
</tr>
<tr>
<td align="left">¬†¬†¬†¬†¬†¬†¬†Bonos de Reconocimiento y MINVU</td>
<td align="right">1.27</td>
<td align="right">0.00</td>
<td align="right">1.33</td>
<td align="right">0.00</td>
<td align="right">13.73</td>
<td align="right">0.02</td>
<td align="right">32.41</td>
<td align="right">0.09</td>
<td align="right">29.62</td>
<td align="right">0.08</td>
<td align="right">78.36</td>
<td align="right">0.04</td>
</tr>
<tr>
<td align="left">¬†¬†¬†¬†¬†¬†¬†Bonos de Empresas y Efectos de Comercio</td>
<td align="right">124.28</td>
<td align="right">0.45</td>
<td align="right">1191.44</td>
<td align="right">3.61</td>
<td align="right">4261.12</td>
<td align="right">5.77</td>
<td align="right">3898.01</td>
<td align="right">10.87</td>
<td align="right">4060.00</td>
<td align="right">11.48</td>
<td align="right">13534.85</td>
<td align="right">6.58</td>
</tr>
<tr>
<td align="left">¬†¬†¬†¬†¬†¬†¬†Bonos emitidos por Fondos de Inversi√≥n</td>
<td align="right">0.25</td>
<td align="right">0.00</td>
<td align="right">1.08</td>
<td align="right">0.00</td>
<td align="right">5.40</td>
<td align="right">0.01</td>
<td align="right">5.10</td>
<td align="right">0.01</td>
<td align="right">5.41</td>
<td align="right">0.02</td>
<td align="right">17.25</td>
<td align="right">0.01</td>
</tr>
<tr>
<td align="left">¬†¬†¬†¬†¬†¬†¬†Bonos Bancarios</td>
<td align="right">175.53</td>
<td align="right">0.63</td>
<td align="right">3021.43</td>
<td align="right">9.16</td>
<td align="right">10757.98</td>
<td align="right">14.58</td>
<td align="right">8690.81</td>
<td align="right">24.23</td>
<td align="right">9828.42</td>
<td align="right">27.79</td>
<td align="right">32474.17</td>
<td align="right">15.78</td>
</tr>
<tr>
<td align="left">¬†¬†¬†¬†¬†¬†¬†Letras Hipotecarias</td>
<td align="right">8.79</td>
<td align="right">0.03</td>
<td align="right">37.30</td>
<td align="right">0.11</td>
<td align="right">170.92</td>
<td align="right">0.23</td>
<td align="right">62.22</td>
<td align="right">0.17</td>
<td align="right">55.34</td>
<td align="right">0.16</td>
<td align="right">334.56</td>
<td align="right">0.16</td>
</tr>
<tr>
<td align="left">¬†¬†¬†¬†¬†¬†¬†Dep√≥sitos a Plazo</td>
<td align="right">157.15</td>
<td align="right">0.57</td>
<td align="right">1020.63</td>
<td align="right">3.09</td>
<td align="right">1647.29</td>
<td align="right">2.23</td>
<td align="right">806.89</td>
<td align="right">2.25</td>
<td align="right">4841.00</td>
<td align="right">13.69</td>
<td align="right">8472.97</td>
<td align="right">4.12</td>
</tr>
<tr>
<td align="left">¬†¬†¬†¬†¬†¬†¬†Fondos Mutuos y de Inversi√≥n (6)</td>
<td align="right">151.41</td>
<td align="right">0.54</td>
<td align="right">199.94</td>
<td align="right">0.61</td>
<td align="right">457.57</td>
<td align="right">0.62</td>
<td align="right">160.77</td>
<td align="right">0.45</td>
<td align="right">566.54</td>
<td align="right">1.60</td>
<td align="right">1536.23</td>
<td align="right">0.75</td>
</tr>
<tr>
<td align="left">¬†¬†¬†¬†¬†¬†¬†Activos Alternativos (7)</td>
<td align="right">81.32</td>
<td align="right">0.29</td>
<td align="right">105.17</td>
<td align="right">0.32</td>
<td align="right">315.37</td>
<td align="right">0.43</td>
<td align="right">115.58</td>
<td align="right">0.32</td>
<td align="right">108.93</td>
<td align="right">0.31</td>
<td align="right">726.37</td>
<td align="right">0.35</td>
</tr>
<tr>
<td align="left">¬†¬†¬†¬†¬†¬†¬†Disponible(1)</td>
<td align="right">9.85</td>
<td align="right">0.04</td>
<td align="right">23.02</td>
<td align="right">0.07</td>
<td align="right">29.12</td>
<td align="right">0.04</td>
<td align="right">123.23</td>
<td align="right">0.34</td>
<td align="right">67.67</td>
<td align="right">0.19</td>
<td align="right">252.88</td>
<td align="right">0.12</td>
</tr>
<tr>
<td align="left">¬†¬†¬†¬†¬†¬†¬†DERIVADOS</td>
<td align="right">-182.84</td>
<td align="right">-0.66</td>
<td align="right">-263.33</td>
<td align="right">-0.80</td>
<td align="right">-557.60</td>
<td align="right">-0.76</td>
<td align="right">-323.06</td>
<td align="right">-0.90</td>
<td align="right">-98.75</td>
<td align="right">-0.28</td>
<td align="right">-1425.58</td>
<td align="right">-0.69</td>
</tr>
<tr>
<td align="left">¬†¬†¬†¬†¬†OTROS NACIONALES(2)</td>
<td align="right">4.14</td>
<td align="right">0.01</td>
<td align="right">2.41</td>
<td align="right">0.01</td>
<td align="right">45.05</td>
<td align="right">0.06</td>
<td align="right">10.48</td>
<td align="right">0.03</td>
<td align="right">11.30</td>
<td align="right">0.03</td>
<td align="right">73.38</td>
<td align="right">0.04</td>
</tr>
<tr>
<td align="left"><b>INVERSI√ìN EXTRANJERA TOTAL</b></td>
<td align="right">23325.34</td>
<td align="right">83.91</td>
<td align="right">22087.02</td>
<td align="right">66.95</td>
<td align="right">36169.13</td>
<td align="right">49.01</td>
<td align="right">10692.79</td>
<td align="right">29.81</td>
<td align="right">3217.75</td>
<td align="right">9.10</td>
<td align="right">95492.03</td>
<td align="right">46.40</td>
</tr>
<tr>
<td align="left">¬†¬†¬†¬†¬†RENTA VARIABLE</td>
<td align="right">18373.49</td>
<td align="right">66.10</td>
<td align="right">15691.41</td>
<td align="right">47.56</td>
<td align="right">22700.13</td>
<td align="right">30.76</td>
<td align="right">5487.92</td>
<td align="right">15.30</td>
<td align="right">807.39</td>
<td align="right">2.28</td>
<td align="right">63060.34</td>
<td align="right">30.64</td>
</tr>
<tr>
<td align="left">¬†¬†¬†¬†¬†¬†¬†Fondos Mutuos</td>
<td align="right">13455.26</td>
<td align="right">48.41</td>
<td align="right">11883.27</td>
<td align="right">36.02</td>
<td align="right">18435.74</td>
<td align="right">24.98</td>
<td align="right">3938.04</td>
<td align="right">10.98</td>
<td align="right">107.38</td>
<td align="right">0.30</td>
<td align="right">47819.69</td>
<td align="right">23.23</td>
</tr>
<tr>
<td align="left">¬†¬†¬†¬†¬†¬†¬†Activos Alternativos (8)</td>
<td align="right">676.07</td>
<td align="right">2.43</td>
<td align="right">643.63</td>
<td align="right">1.95</td>
<td align="right">1326.17</td>
<td align="right">1.80</td>
<td align="right">406.67</td>
<td align="right">1.13</td>
<td align="right">23.25</td>
<td align="right">0.07</td>
<td align="right">3075.79</td>
<td align="right">1.49</td>
</tr>
<tr>
<td align="left">¬†¬†¬†¬†¬†¬†¬†Otros</td>
<td align="right">4242.16</td>
<td align="right">15.26</td>
<td align="right">3164.52</td>
<td align="right">9.59</td>
<td align="right">2938.21</td>
<td align="right">3.98</td>
<td align="right">1143.22</td>
<td align="right">3.19</td>
<td align="right">676.75</td>
<td align="right">1.91</td>
<td align="right">12164.86</td>
<td align="right">5.91</td>
</tr>
<tr>
<td align="left">¬†¬†¬†¬†¬†RENTA FIJA (9)</td>
<td align="right">4855.69</td>
<td align="right">17.47</td>
<td align="right">6307.56</td>
<td align="right">19.12</td>
<td align="right">13230.39</td>
<td align="right">17.93</td>
<td align="right">5103.84</td>
<td align="right">14.23</td>
<td align="right">2385.57</td>
<td align="right">6.75</td>
<td align="right">31883.06</td>
<td align="right">15.49</td>
</tr>
<tr>
<td align="left">¬†¬†¬†¬†¬†¬†¬†DERIVADOS</td>
<td align="right">-59.59</td>
<td align="right">-0.21</td>
<td align="right">-37.21</td>
<td align="right">-0.11</td>
<td align="right">-55.17</td>
<td align="right">-0.07</td>
<td align="right">-8.98</td>
<td align="right">-0.03</td>
<td align="right">-51.97</td>
<td align="right">-0.15</td>
<td align="right">-212.92</td>
<td align="right">-0.10</td>
</tr>
<tr>
<td align="left">¬†¬†¬†¬†¬†OTROS EXTRANJEROS(3)</td>
<td align="right">155.74</td>
<td align="right">0.56</td>
<td align="right">125.26</td>
<td align="right">0.38</td>
<td align="right">293.77</td>
<td align="right">0.40</td>
<td align="right">110.00</td>
<td align="right">0.31</td>
<td align="right">76.76</td>
<td align="right">0.22</td>
<td align="right">761.54</td>
<td align="right">0.37</td>
</tr>
<tr>
<td align="left"><b>TOTAL ACTIVOS</b></td>
<td align="right">27797.04</td>
<td align="right">100.00</td>
<td align="right">32990.84</td>
<td align="right">100.00</td>
<td align="right">73794.85</td>
<td align="right">100.00</td>
<td align="right">35868.85</td>
<td align="right">100.00</td>
<td align="right">35362.17</td>
<td align="right">100.00</td>
<td align="right">205813.75</td>
<td align="right">100.00</td>
</tr>
<tr>
<td align="left"><b>SUBTOTAL RENTA VARIABLE</b></td>
<td align="right">22175.80</td>
<td align="right">79.78</td>
<td align="right">19512.56</td>
<td align="right">59.15</td>
<td align="right">28940.07</td>
<td align="right">39.22</td>
<td align="right">6847.23</td>
<td align="right">19.09</td>
<td align="right">1535.86</td>
<td align="right">4.34</td>
<td align="right">79011.52</td>
<td align="right">38.39</td>
</tr>
<tr>
<td align="left"><b>SUBTOTAL RENTA FIJA</b></td>
<td align="right">5703.79</td>
<td align="right">20.52</td>
<td align="right">13651.15</td>
<td align="right">41.38</td>
<td align="right">45128.72</td>
<td align="right">61.15</td>
<td align="right">29233.18</td>
<td align="right">81.50</td>
<td align="right">33888.97</td>
<td align="right">95.83</td>
<td align="right">127605.82</td>
<td align="right">62.00</td>
</tr>
<tr>
<td align="left"><b>SUBTOTAL DERIVADOS</b></td>
<td align="right">-242.43</td>
<td align="right">-0.87</td>
<td align="right">-300.54</td>
<td align="right">-0.91</td>
<td align="right">-612.77</td>
<td align="right">-0.83</td>
<td align="right">-332.04</td>
<td align="right">-0.93</td>
<td align="right">-150.72</td>
<td align="right">-0.43</td>
<td align="right">-1638.50</td>
<td align="right">-0.80</td>
</tr>
<tr>
<td align="left"><b>SUBTOTAL OTROS</b></td>
<td align="right">159.89</td>
<td align="right">0.58</td>
<td align="right">127.67</td>
<td align="right">0.39</td>
<td align="right">338.83</td>
<td align="right">0.46</td>
<td align="right">120.48</td>
<td align="right">0.34</td>
<td align="right">88.06</td>
<td align="right">0.25</td>
<td align="right">834.92</td>
<td align="right">0.41</td>
</tr>
</table>
<br/><table class="XX">
<tr>
<td>(1)</td>
<td>Corresponde a Cuentas Corrientes Tipo 2</td>
</tr>
<tr>
<td>(2)</td>
<td>Incluye Banco Recaudaciones, Banco retiros de ahorro, Banco pago de beneficios, Banco pago de ahorro previsional voluntario, Valores por depositar y en tr√°nsito Nacionales y Cargos en Cuentas Bancarias, adem√°s de Inversi√≥n en Opciones de Suscripci√≥n de Acciones y Cuotas de Fondos de Inversi√≥n Nacionales.</td>
</tr>
<tr>
<td>(3)</td>
<td>Valores por depositar y en tr√°nsito Extranjeros, Garant√≠as entregadas en efectivo a C√°maras de Compensaci√≥n y Garant√≠as entregadas en efectivo a contrapartes distintas a C√°maras de Compensaci√≥n</td>
</tr>
<tr>
<td>(4)</td>
<td>Corresponde a Inversi√≥n indirecta en activos tradicionales nacionales</td>
</tr>
<tr>
<td>(5)</td>
<td>Incluye ASC, SPA, EPA, RAIZ e inversi√≥n indirecta en Activos Alternativos Nacionales v√≠a Fondo de Inversi√≥n</td>
</tr>
<tr>
<td>(6)</td>
<td>Corresponde a inversi√≥n indirecta en activos tradicionales nacionales</td>
</tr>
<tr>
<td>(7)</td>
<td>Incluye MHE, SPA, CLEA, CSIN e inversi√≥n indirecta en Activos Alternativos Nacionales v√≠a Fondos de Inversi√≥n</td>
</tr>
<tr>
<td>(8)</td>
<td>Incluye VCPE, CCPE e inversi√≥n indirecta en Activos Alternativos extranjero v√≠a Fondos de Inversi√≥n</td>
</tr>
<tr>
<td>(9)</td>
<td>Incluye inversi√≥n en VDPE, CDPE e inversi√≥n indirecta en activos alternativos v√≠a Fondos de Inversi√≥n</td>
</tr>
</table>
</div></body>
</html><hr/>
<div class="col-sm-12 col-xs-3 text-right">
<button class="btn btn-default btn-sm pull-right" onclick="window.history.back();" type="button">
<span class="fa fa-arrow-left"></span> <span class="hidden-xxs">Volver</span>
</button>
</div>
<script src="/css/proxy_js_frag_v11.php?context=bootstrap&amp;frag=footer" type="text/javascript"></script>

## 6. Conversi√≥n a DataFrame

Finalmente utilizamos pandas para:

- Leer la tabla HTML
- Detectar encabezado multinivel
- Convertir columnas num√©ricas

In [10]:
from io import StringIO

tablas = pd.read_html(StringIO(html_transformado), header=[0,1])

df = tablas[0]

for col in df.columns[1:]:
    df[col] = pd.to_numeric(df[col], errors="coerce")

df.head()

                Unnamed: 0_level_0        A                B                C  \
                Unnamed: 0_level_1    MMUS$ %Fondo     MMUS$ %Fondo     MMUS$
0         INVERSI√ìN NACIONAL TOTAL  4471.70  16.09  10903.82  33.05  37625.73
1                   RENTA VARIABLE  3802.30  13.68   3821.15  11.58   6239.95
2                         Acciones  3123.52  11.24   3281.80   9.95   5206.25
3  Fondos de Inversi√≥n y Otros (4)   621.12   2.23    470.21   1.43    871.06
4         Activos Alternativos (5)    57.67   0.21     69.15   0.21    162.64

                 D                E             TOTAL
  %Fondo     MMUS$ %Fondo     MMUS$ %Fondo      MMUS$ %Fondo
0  50.99  25176.07  70.19  32144.42  90.90  110321.73  53.60
1   8.46   1359.31   3.79    728.47   2.06   15951.18   7.75
2   7.06   1104.92   3.08    722.18   2.04   13438.68   6.53
3   1.18    213.46   0.60      4.05   0.01    2179.89   1.06
4   0.22     40.93   0.11      2.23   0.01     332.61   0.16

## Automatizaci√≥n del proceso

Una vez comprendidas las etapas del proceso,
podemos encapsularlas en una funci√≥n
para facilitar su reutilizaci√≥n.

In [11]:
#FUNCI√ìN FINAL
def bajar_primer_cuadro(periodo):

    BASE = "https://www.spensiones.cl"

    s = requests.Session()
    s.headers.update({
        "User-Agent": "Mozilla/5.0",
        "Referer": "https://www.spensiones.cl/apps/centroEstadisticas/paginaCuadrosCCEE.php"
    })

    url = f"{BASE}/apps/loadCarteras/loadCarAgr.php?menu=sci&menuN1=estfinfp&menuN2=NOID&orden=20&periodo={periodo}&ext=.php"

    r = s.get(url)
    soup = BeautifulSoup(r.text, "html.parser")

    a = soup.find("a", title="Html")

    if a is None:
        print("‚ùå No hay link")
        return None

    real_link = urljoin(BASE, a["href"])

    r2 = s.get(real_link)
    html = decode_html(r2)

    html_transformado = _html_transformar_solo_numeros(html)

    tablas = pd.read_html(StringIO(html_transformado), header=[0,1])

    df = tablas[0]

    for col in df.columns[1:]:
        df[col] = pd.to_numeric(df[col], errors="coerce")

    return df

## Ejemplo: Periodo Enero 2020

Ahora descargaremos el Cuadro 1 correspondiente al periodo 202001.

In [12]:
#EJECUCI√ìN
df = bajar_primer_cuadro("202001")
df.head()

                Unnamed: 0_level_0        A                B                C  \
                Unnamed: 0_level_1    MMUS$ %Fondo     MMUS$ %Fondo     MMUS$
0         INVERSI√ìN NACIONAL TOTAL  4471.70  16.09  10903.82  33.05  37625.73
1                   RENTA VARIABLE  3802.30  13.68   3821.15  11.58   6239.95
2                         Acciones  3123.52  11.24   3281.80   9.95   5206.25
3  Fondos de Inversi√≥n y Otros (4)   621.12   2.23    470.21   1.43    871.06
4         Activos Alternativos (5)    57.67   0.21     69.15   0.21    162.64

                 D                E             TOTAL
  %Fondo     MMUS$ %Fondo     MMUS$ %Fondo      MMUS$ %Fondo
0  50.99  25176.07  70.19  32144.42  90.90  110321.73  53.60
1   8.46   1359.31   3.79    728.47   2.06   15951.18   7.75
2   7.06   1104.92   3.08    722.18   2.04   13438.68   6.53
3   1.18    213.46   0.60      4.05   0.01    2179.89   1.06
4   0.22     40.93   0.11      2.23   0.01     332.61   0.16

## Guardado a CSV (Opcional)

Para utilizar esta informaci√≥n posteriormente
(en Excel o para construir paneles de datos),
podemos guardar el DataFrame como CSV.

In [13]:
#GUARDAR
df.to_csv("cartera_agregada_202001.csv", index=False, encoding="utf-8-sig")

# Descarga masiva: todos los meses de un a√±o

Hasta ahora hemos descargado el Cuadro 1 para un √∫nico periodo.

Sin embargo, en an√°lisis financiero y econom√©trico
necesitamos construir **series de tiempo** o **paneles de datos**.

Para esto debemos descargar la informaci√≥n de m√∫ltiples meses.

---

## Objetivo

Descargar el Cuadro 1 para:

202001  
202002  
...  
202012  

Es decir, todos los meses del a√±o 2020.

## Generaci√≥n autom√°tica de periodos

Los periodos deben estar en formato:

YYYYMM

Por ejemplo:

202001  
202002  
202003  

Podemos generar estos valores utilizando un ciclo `for`.

In [14]:
periodos = []

for mes in range(1,13):
    periodo = f"2020{mes:02d}"
    periodos.append(periodo)

periodos

['202001',
 '202002',
 '202003',
 '202004',
 '202005',
 '202006',
 '202007',
 '202008',
 '202009',
 '202010',
 '202011',
 '202012']

## Descarga iterativa de los cuadros

Ahora utilizaremos:

- Nuestra funci√≥n `bajar_primer_cuadro()`
- Un ciclo `for`
- Una lista para almacenar los resultados

Cada tabla ser√° guardada como un DataFrame independiente.

In [15]:
dataframes = []

for periodo in periodos:

    print(f"Procesando {periodo}")

    try:
        df = bajar_primer_cuadro(periodo)

        if df is not None:

            # üî• agregar columna PERIODO
            df["PERIODO"] = periodo

            dataframes.append(df)

    except Exception as e:
        print(f"Error en {periodo}: {e}")

Procesando 202001
Procesando 202002
Procesando 202003
Procesando 202004
Procesando 202005
Procesando 202006
Procesando 202007
Procesando 202008
Procesando 202009
Procesando 202010
Procesando 202011
Procesando 202012

## Verificaci√≥n de resultados

Podemos verificar cu√°ntos meses fueron descargados correctamente.

In [16]:
len(dataframes)

12

## Construcci√≥n de panel de datos

Una vez descargadas todas las tablas mensuales,
podemos combinarlas en un √∫nico DataFrame
utilizando `pd.concat()`.

In [17]:
panel_2020 = pd.concat(dataframes, ignore_index=True)

panel_2020

                  Unnamed: 0_level_0         A                 B          \
                  Unnamed: 0_level_1     MMUS$  %Fondo     MMUS$  %Fondo
0           INVERSI√ìN NACIONAL TOTAL   4471.70   16.09  10903.82   33.05
1                     RENTA VARIABLE   3802.30   13.68   3821.15   11.58
2                           Acciones   3123.52   11.24   3281.80    9.95
3    Fondos de Inversi√≥n y Otros (4)    621.12    2.23    470.21    1.43
4           Activos Alternativos (5)     57.67    0.21     69.15    0.21
..                               ...       ...     ...       ...     ...
379                    TOTAL ACTIVOS  27292.67  100.00  29182.36  100.00
380          SUBTOTAL RENTA VARIABLE  21842.44   80.03  17738.43   60.78
381              SUBTOTAL RENTA FIJA   5111.13   18.73  10966.00   37.58
382               SUBTOTAL DERIVADOS    169.76    0.62    351.41    1.20
383                   SUBTOTAL OTROS    169.33    0.62    126.52    0.43

            C                 D                 E              TOTAL          \
        MMUS$  %Fondo     MMUS$  %Fondo     MMUS$  %Fondo      MMUS$  %Fondo
0    37625.73   50.99  25176.07   70.19  32144.42   90.90  110321.73   53.60
1     6239.95    8.46   1359.31    3.79    728.47    2.06   15951.18    7.75
2     5206.25    7.06   1104.92    3.08    722.18    2.04   13438.68    6.53
3      871.06    1.18    213.46    0.60      4.05    0.01    2179.89    1.06
4      162.64    0.22     40.93    0.11      2.23    0.01     332.61    0.16
..        ...     ...       ...     ...       ...     ...        ...     ...
379  70982.81  100.00  38066.60  100.00  48152.02  100.00  213676.45  100.00
380  28756.22   40.51   7637.44   20.06   2350.89    4.88   78325.43   36.66
381  41196.16   58.04  29922.28   78.61  45237.52   93.95  132433.09   61.98
382    765.01    1.08    344.30    0.90    391.83    0.81    2022.31    0.95
383    265.41    0.37    162.57    0.43    171.79    0.36     895.62    0.42

    PERIODO

0    202001
1    202001
2    202001
3    202001
4    202001
..      ...
379  202012
380  202012
381  202012
382  202012
383  202012

[384 rows x 14 columns]

Antes de transformar a formato Long,
debemos inspeccionar los nombres de columnas.

En particular, verificar si la variable PERIODO
se mantiene correctamente despu√©s de la concatenaci√≥n.

Las columnas se encuentran en formato multinivel (MultiIndex).

Debemos convertir estos encabezados en nombres planos
antes de utilizar la funci√≥n melt().

In [18]:
panel_2020.columns

MultiIndex([('Unnamed: 0_level_0', 'Unnamed: 0_level_1'),
            (                 'A',              'MMUS$'),
            (                 'A',             '%Fondo'),
            (                 'B',              'MMUS$'),
            (                 'B',             '%Fondo'),
            (                 'C',              'MMUS$'),
            (                 'C',             '%Fondo'),
            (                 'D',              'MMUS$'),
            (                 'D',             '%Fondo'),
            (                 'E',              'MMUS$'),
            (                 'E',             '%Fondo'),
            (             'TOTAL',              'MMUS$'),
            (             'TOTAL',             '%Fondo'),
            (           'PERIODO',                   '')],
           )

# Wide ‚Üí Long (correcto) usando `stack` sobre MultiIndex

Nuestro `panel_2020` est√° en formato **Wide** y sus columnas son un **MultiIndex**:

- **Nivel 0**: Fondo (A, B, C, D, E, TOTAL)
- **Nivel 1**: M√©trica (MMUS$, %Fondo)

En formato Long queremos que **FONDO** y **METRICA** sean variables separadas, no un string tipo `A_MMUSD`.

Por eso NO usamos `melt` juntando nombres, sino `stack(level=[0,1])`.

In [19]:
df = panel_2020.copy()
df.head()

                Unnamed: 0_level_0        A                B                C  \
                Unnamed: 0_level_1    MMUS$ %Fondo     MMUS$ %Fondo     MMUS$
0         INVERSI√ìN NACIONAL TOTAL  4471.70  16.09  10903.82  33.05  37625.73
1                   RENTA VARIABLE  3802.30  13.68   3821.15  11.58   6239.95
2                         Acciones  3123.52  11.24   3281.80   9.95   5206.25
3  Fondos de Inversi√≥n y Otros (4)   621.12   2.23    470.21   1.43    871.06
4         Activos Alternativos (5)    57.67   0.21     69.15   0.21    162.64

                 D                E             TOTAL        PERIODO
  %Fondo     MMUS$ %Fondo     MMUS$ %Fondo      MMUS$ %Fondo
0  50.99  25176.07  70.19  32144.42  90.90  110321.73  53.60  202001
1   8.46   1359.31   3.79    728.47   2.06   15951.18   7.75  202001
2   7.06   1104.92   3.08    722.18   2.04   13438.68   6.53  202001
3   1.18    213.46   0.60      4.05   0.01    2179.89   1.06  202001
4   0.22     40.93   0.11      2.23   0.01     332.61   0.16  202001

## 1) Identificar las columnas "id" (identificadores)

Para construir un panel Long necesitamos al menos dos identificadores:

- **TipoInstrumento**: la categor√≠a (texto) de la fila
- **PERIODO**: el mes en formato YYYYMM

El resto de columnas corresponde a combinaciones (FONDO, METRICA).

‚ö†Ô∏è Detalle importante:
Cuando un DataFrame tiene columnas MultiIndex, una columna simple como PERIODO
puede quedar guardada como `('PERIODO','')` en vez de `"PERIODO"`.
Por eso primero la detectamos de forma robusta.

In [20]:
tipo_col = df.columns[0]

periodo_col = None
if "PERIODO" in df.columns:
    periodo_col = "PERIODO"
else:
    for c in df.columns:
        if isinstance(c, tuple) and str(c[0]).strip().upper() == "PERIODO":
            periodo_col = c
            break

if periodo_col is None:
    raise KeyError("No se encontr√≥ la columna PERIODO en el DataFrame")

tipo_col, periodo_col

(('Unnamed: 0_level_0', 'Unnamed: 0_level_1'), 'PERIODO')

## 2) Pasar identificadores a √≠ndice (`set_index`)

Para usar `stack`, primero convertimos nuestros identificadores en √≠ndice.
Esto significa:

- Las filas quedar√°n identificadas por (TipoInstrumento, PERIODO)
- Las columnas quedar√°n como MultiIndex (FONDO, METRICA)

En otras palabras: dejamos el DataFrame listo para ‚Äúapilar‚Äù los niveles de columnas.

In [21]:
dfi = df.set_index([tipo_col, periodo_col])
dfi.head()

                                                        A                B  \
                                                    MMUS$ %Fondo     MMUS$
(Unnamed: 0_level_0, Unnamed: 0_level_1) PERIODO
INVERSI√ìN NACIONAL TOTAL                 202001   4471.70  16.09  10903.82
RENTA VARIABLE                           202001   3802.30  13.68   3821.15
Acciones                                 202001   3123.52  11.24   3281.80
Fondos de Inversi√≥n y Otros (4)          202001    621.12   2.23    470.21
Activos Alternativos (5)                 202001     57.67   0.21     69.15

                                                                C         \
                                                 %Fondo     MMUS$ %Fondo
(Unnamed: 0_level_0, Unnamed: 0_level_1) PERIODO
INVERSI√ìN NACIONAL TOTAL                 202001   33.05  37625.73  50.99
RENTA VARIABLE                           202001   11.58   6239.95   8.46
Acciones                                 202001    9.95   5206.25   7.06
Fondos de Inversi√≥n y Otros (4)          202001    1.43    871.06   1.18
Activos Alternativos (5)                 202001    0.21    162.64   0.22

                                                         D                E  \
                                                     MMUS$ %Fondo     MMUS$
(Unnamed: 0_level_0, Unnamed: 0_level_1) PERIODO
INVERSI√ìN NACIONAL TOTAL                 202001   25176.07  70.19  32144.42
RENTA VARIABLE                           202001    1359.31   3.79    728.47
Acciones                                 202001    1104.92   3.08    722.18
Fondos de Inversi√≥n y Otros (4)          202001     213.46   0.60      4.05
Activos Alternativos (5)                 202001      40.93   0.11      2.23

                                                             TOTAL
                                                 %Fondo      MMUS$ %Fondo
(Unnamed: 0_level_0, Unnamed: 0_level_1) PERIODO
INVERSI√ìN NACIONAL TOTAL                 202001   90.90  110321.73  53.60
RENTA VARIABLE                           202001    2.06   15951.18   7.75
Acciones                                 202001    2.04   13438.68   6.53
Fondos de Inversi√≥n y Otros (4)          202001    0.01    2179.89   1.06
Activos Alternativos (5)                 202001    0.01     332.61   0.16

## 3) Transformaci√≥n Wide ‚Üí Long usando `stack(level=[0,1])`

`stack()` toma niveles de columnas y los baja a filas.

Aqu√≠ hacemos:

- `stack(level=0)` baja el Fondo (A,B,C...)
- `stack(level=1)` baja la M√©trica (MMUS$, %Fondo)

Como queremos ambos identificadores separados, usamos:

`stack(level=[0,1])`

Resultado:

- FONDO pasa a ser una columna
- METRICA pasa a ser una columna
- y queda una columna final llamada `valor`

In [22]:
panel_long = (
    dfi
    .stack(level=[0, 1])
    .reset_index()
)

panel_long.head()

  (Unnamed: 0_level_0, Unnamed: 0_level_1) PERIODO level_2 level_3         0
0                 INVERSI√ìN NACIONAL TOTAL  202001       A   MMUS$   4471.70
1                 INVERSI√ìN NACIONAL TOTAL  202001       A  %Fondo     16.09
2                 INVERSI√ìN NACIONAL TOTAL  202001       B   MMUS$  10903.82
3                 INVERSI√ìN NACIONAL TOTAL  202001       B  %Fondo     33.05
4                 INVERSI√ìN NACIONAL TOTAL  202001       C   MMUS$  37625.73

## 4) Renombrar columnas finales

Despu√©s de `reset_index()` pandas deja nombres gen√©ricos.

Queremos un panel limpio con columnas:

- TipoInstrumento
- PERIODO
- FONDO
- METRICA
- valor

Esto deja el dataset listo para an√°lisis econom√©trico, gr√°ficos y concatenaci√≥n de periodos.

In [23]:
panel_long.columns = ["TipoInstrumento", "PERIODO", "FONDO", "METRICA", "valor"]
panel_long.head()

            TipoInstrumento PERIODO FONDO METRICA     valor
0  INVERSI√ìN NACIONAL TOTAL  202001     A   MMUS$   4471.70
1  INVERSI√ìN NACIONAL TOTAL  202001     A  %Fondo     16.09
2  INVERSI√ìN NACIONAL TOTAL  202001     B   MMUS$  10903.82
3  INVERSI√ìN NACIONAL TOTAL  202001     B  %Fondo     33.05
4  INVERSI√ìN NACIONAL TOTAL  202001     C   MMUS$  37625.73

## (Opcional) Normalizar m√©tricas

Para estandarizar el panel:

- MMUS$ ‚Üí MMUSD
- %Fondo ‚Üí PCT

Esto evita problemas al concatenar a√±os o hacer an√°lisis.

In [24]:
panel_long["METRICA"] = (
    panel_long["METRICA"]
    .astype(str)
    .str.replace("MMUS$", "MMUSD", regex=False)
    .str.replace("%Fondo", "PCT", regex=False)
)

panel_long.head()

            TipoInstrumento PERIODO FONDO METRICA     valor
0  INVERSI√ìN NACIONAL TOTAL  202001     A   MMUSD   4471.70
1  INVERSI√ìN NACIONAL TOTAL  202001     A     PCT     16.09
2  INVERSI√ìN NACIONAL TOTAL  202001     B   MMUSD  10903.82
3  INVERSI√ìN NACIONAL TOTAL  202001     B     PCT     33.05
4  INVERSI√ìN NACIONAL TOTAL  202001     C   MMUSD  37625.73

## (Opcional) Normalizar nombres de m√©tricas

A veces el segundo nivel trae `MMUS$` y `%Fondo`.
Podemos renombrarlo a:

- MMUS$ ‚Üí MMUSD
- %Fondo ‚Üí PCT

Esto deja el panel consistente para an√°lisis y para concatenar a√±os.

In [25]:
panel_long["METRICA"] = (
    panel_long["METRICA"]
    .astype(str)
    .str.replace("MMUS$", "MMUSD", regex=False)
    .str.replace("%Fondo", "PCT", regex=False)
)

panel_long.head()

            TipoInstrumento PERIODO FONDO METRICA     valor
0  INVERSI√ìN NACIONAL TOTAL  202001     A   MMUSD   4471.70
1  INVERSI√ìN NACIONAL TOTAL  202001     A     PCT     16.09
2  INVERSI√ìN NACIONAL TOTAL  202001     B   MMUSD  10903.82
3  INVERSI√ìN NACIONAL TOTAL  202001     B     PCT     33.05
4  INVERSI√ìN NACIONAL TOTAL  202001     C   MMUSD  37625.73

## Guardar el panel Long

Guardamos en CSV para usar en Excel / an√°lisis posterior.

In [26]:
panel_long.to_csv("panel_cartera_agregada_2020_long.csv",
                   index=False, encoding="utf-8-sig")